body{
    background-color:white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.signup-page{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee
}
.heading{
    text-align: center;
    color:black;
    
}
.signup-content{
    height: 460px;
    width: 400px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding: 20px;
    color:#263752;
    font-weight: bold;
}

input[type="email"] {
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 9px;
    border: 1px solid #e0e3e9;
    padding: 0 10px;
    padding-left: 30px;
    outline: 0;
    font-size: 13px
}

input[type="password"] {
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 9px;
    border: 1px solid #e0e3e9;
    padding: 0 10px;
    padding-left: 30px;
    padding-right: 27px;
    outline: 0
}
input[type="text"] {
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 9px;
    border: 1px solid #e0e3e9;
    padding: 0 10px;
    padding-left: 30px;
    padding-right: 27px;
    outline: 0
}

#submit {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center
}

#submit {
    height: 45px;
    width: 90%;
    border: none;
    background-color: #267fff;
    border-radius: 9px;
    font-size: 16px;
    outline: 0;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s
}

#submit :hover {
    background-color: #083c87
}

.signin-para {
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.signin-para a {
    text-decoration: none;
    color:blue;
}

.warning {
    color:red;
}


