
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar {
    /* background-color: darkseagreen;
    height:10vh;
    width:100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; */
    background-color:#25a99f;
    list-style-type: none;
    margin: 0;
    text-decoration: none;
    padding: 0;

}

.nav-item {
    display:inline-block;
    font-size: 20px;
    padding: 20px;
    color: white;
   
    
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item-left{
    padding: 0;
    font-size: 20px;
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-top: 10px;
    

}
/* .search{
    float: center;
    padding: 6px;
   font-size: 17px;
   border: none; */
   /* padding: 6px 10px; */
   /* margin-top: 8px; */
  /* margin-right: 16px; */
  /* background: #ddd;
 
  cursor: pointer;
  max-width:400px;
} */

.nav-item input[type=text] {
    /* padding: 6px;
    margin-top: 8px; */
    font-size: 17px;
    border: none;
    width:500px;
    float: center;
}


    